body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-bottom {
  padding: 10px;
  margin-top: 1rem;
  background: #fff;
  color: #00121b;
  font-size: 1rem;
  text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .main{
    width: 50%
  }
  .footer-bottom {
      width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .main{
    width: 50%
  }
  .footer-bottom {
      width: 100%;
  }
}
